.THIS .Branch {
    justify-content: center;
}

.THIS .Branch-Detail{
    border: 2px solid #1d80c7;
    width: 180px;
    text-align: center;
    margin: 1px;
}

.THIS .btn_branch {
    background-color : transparent;
    border : none;
    border-radius : 0px;
    color : #006DCC;
    text-align : left;
    padding : 0px;
    box-shadow: none;
}