/**
 * Created by HSJ on 2023-07-01.
 */

.btn_next button {
    background-color : transparent;
    border : none;
    border-radius : 0px;
    color : #006DCC;
    text-align : left;
    padding : 0px;
    box-shadow: none;
}