# 기본 무시
*

# force-app, .gitignore, README.md만 추적
!/force-app/
!/force-app/**
!.gitignore
!README.md

# Added by Illuminated Cloud
.sf/
.sfdx/
.localdev/
/IlluminatedCloud/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo